

p {
    color: green;
    font-size: 1em;
}


button {
    color: orange;
    font-size: 3em;
}

.heading1{
    color: rgb(150, 150, 150);
    font-size: 2.5em;
    font-family: cursive,Arial, Helvetica ;
}
.heading2{
    color: aqua;
    font-size: 2.5em;
}
.heading3{
    color: rgb(0, 26, 255);
    font-size: 2.5em;
}