h1{
    text-transform: capitalize;
    text-decoration: overline;
    text-shadow: 20px 20px 5px red ;
    line-height: 200px;
    letter-spacing: 10px;
   


}
h2{
    text-transform: capitalize;
    text-decoration: underline;
    text-shadow: 20px 20px 5px rgb(0, 89, 255) ;
    line-height: 300px;
    letter-spacing: 3px;
    
}
h3{
    text-transform: capitalize;
    text-decoration: underline;
    text-shadow: 1px 20px 5px rgb(6, 124, 32) ;
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 60px;
}
h4{
    text-transform: capitalize;
    text-decoration: underline;
    text-shadow: 1px 20px 5px rgb(55, 0, 255) ;
    line-height: 10px;
    letter-spacing: 6px;
    word-spacing: 10px;
}